html {
    scroll-behavior: smooth;
}

:root {
    --color-body: #7c7b7b;
    --color-heading: #eef3db;
    --color-base: #131313;
    --color-base2: #000000;
    --color-brand: rgb(232, 15, 160);
    --color-brand2: #b71858;
    --sidbar-width: 240px;
    --font-base: "Open Sans";
    --new-col-1: #2522e6;
    --new-col-2: rgb(245, 12, 8);
    --new-col-3: rgb(245, 119, 8);


}

body {
    background-color: var(--color-base2);
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: var(--color-body);
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}

.new-btn {
    padding: 10px 0;
    color: var(--new-col-3);
    font-weight: 600;
    transition: 0.3s;
    border: 0;
}

.new-btn:hover {
    color: #ffffff;
    transform: translatex(10);

}

.iframe-container-2 {
    width: 900px;


}

.iframe-container-2 iframe {
    width: 900px;
}

.iframe-container {
    width: 620px;
    overflow: hidden;
    /* Prevent horizontal scroll */
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    /* 16:9 aspect ratio */
}

.iframe-container iframe {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    transform: scale(1);
    /* Ensure the content scales */
    transform-origin: 0 0;
}

.services-btn {
    margin-top: 30px;
    width: 120px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: 0.3s;
    border: 0;
    background-color: #131313;
}

.services-btn:hover {
    color: #ffffff;
    transform: translatex(10);

}

.fa-solid {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

/* SKHOSANA */

.new-col-1 {
    background-color: var(--new-col-1);
    padding: 30px;
    color: #fff;
    border-radius: 20px;
}

.new-col-3 {
    background-color: var(--new-col-2);
    padding: 30px;
    color: #fff;
    border-radius: 20px;
}

.new-col-2 {
    background-color: var(--new-col-3);
    padding: 30px;
    color: #fff;
    border-radius: 20px;
}

/* video controls */
.video-container {
    max-width: 800px;
    margin: 0 auto;
}

video {
    width: 100%;
    display: block;
}

.video-patrait {
    width: 100%;
    height: 100%;
    display: block;
}

/* video controls */
video::-webkit-media-controls-panel {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.em;
}

video::-webkit-media-controls-play-button {
    width: 30px;

}

.video-time {
    color: white;
    font-size: 0.9em;
    text-align: center;
    margin-top: 5px;
}



.row-1 {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 2rem;

}

.grid-col {
    grid-column: span 2;

}

.hero {
    width: 400px;
}

.back-cover {
    position: fixed;
    width: 600px;
    bottom: 0;
    right: 0;

}

@keyframes back-cover {

    from {
        transform: translatey(300px);
    }

    to {
        transform: translatey(0);
    }
}

.woman {
    animation: back-cover 1s ease-in;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {

    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: var(--color-base2);
    color: var(--color-heading);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}



.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand2);
}

.icon-skills {
    margin-top: 50px;
}

.icon-skills img {
    width: 80px;
    padding: 10px;

}

.Dumisani {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

/* New Navbar */
.dropdown-menu ul {
    list-style: none;
    padding: 0;
}


.dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0.7em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropdown-menu li .dropdown-item {
    color: gray;
    font-size: 1em;
    padding: 0.5em 1em;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0.7em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.hide-on-mobile {
    display: block;
}

.hide-on-comp {
    display: none;
}

/* New Navbar */

/* background: rgb(249,125,6);
background: linear-gradient(0deg, rgba(249,125,6,1) 20%, rgba(241,0,0,1) 100%);  */



@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background-size: cover;
        background-position: center;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu.show {
        display: flex;
    }

    .dropdown-menu.show {
        flex-wrap: wrap;
        max-height: 350px;
        overflow-y: scroll;
    }

    .dropdown-menu ul {
        list-style: none;
        padding: 0;
    }

    .dropdown-menu li .dropdown-item {
        color: gray;
        font-size: 1em;
        padding: 0.5em 1em;
    }

    .dropdown-menu li .dropdown-item:hover {
        background-color: #f1f1f1;
    }

    .dropdown-menu li:first-child a {
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        color: var(--color-brand2);
    }

    .dropdown-menu li:first-child a:hover {
        background-color: #f1f1f1;
    }

    .hero {
        width: 60%;
    }

    .navbar-brand img {
        border: 8px solid var(--color-base2);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }

}

@media only screen and (max-width: 992px) {
    .dropdown-menu.show {
        flex-wrap: wrap;
        max-height: 350px;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
    .hide-on-mobile {
        display: none;
    }

    .hide-on-comp {
        display: block;
    }

    .dropdown:hover .dropdown-menu {
        width: 40vw;
        flex-wrap: wrap;
    }
}

@media (max-width: 582px) {

    .dropdown:hover .dropdown-menu {
        width: 70vw;
        flex-wrap: wrap;
    }

    .hide-on-mobile {
        display: none;
    }

    .hide-on-comp {
        display: block;
    }

    .col-md-9 {
        margin: 0 0 40px 0;
    }

    .iframe-container {
        max-width: 400px;
        overflow: hidden;
        /* Prevent horizontal scroll */
        position: relative;
        padding-top: 90%;
        overflow: hidden;
        /* 16:9 aspect ratio */
    }

    .iframe-container iframe {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        transform: scale(1);
        /* Ensure the content scales */
        transform-origin: 0 0;
    }

    .hero {
        display: flex;
        width: 100%;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .hero P {
        font-size: 14px;
        color: white;
    }

    .icon-skills {
        width: 100%;
    }

    .icon-skills img {
        width: 50px;
        padding: 5px;

    }

    .back-cover {
        opacity: 0.3;
    }

    .row-1 {
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }

    .grid-col {
        grid-column: span 1;

    }
}

/* BTN */
.btn {
    padding: 12px 18px;
    font-weight: 600;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.git-btn {
    justify-content: center;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* CONTACT */

#contact-sk .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact-sk.form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact-sk .form-control::placeholder {
    color: var(--color-body);
}


#contact-sk input.form-control {
    height: 44px;
}

.contact-sk {
    width: 400px;
}

/* SOCIAL ICONS */

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;

}